body {
    font-family: 'Barlow', sans-serif;
    padding: .1em;
   }
 #container {
   width: 100%;
   no-border-style: solid;
   no-border-width: 1px;
   no-border-color: rgba(0,0,0, 0.25);
   no-background-color: rgba(0,0,0,.05);
   padding: .5em;
   padding-bottom: 2em;
 }

.table-div {
    display: flex;
}
.col-Day { flex: 1; flex-basis: 60px; }
.col-Group { flex: 3; flex-basis: 100px; }
.col-Area { flex: 1; flex-basis: 60px; }
.col-Location { flex: 2; flex-basis: 60px; }
.col-Level { flex: 1; flex-basis: 60px; }
.col-Shuttle { flex: 1; flex-basis: 60px; }
.col-Time { flex: 2; flex-basis: 60px; }
.col-Season { flex: 1; flex-basis: 60px; }

.td-header {
    font-size: 1.5em;
    border-style: solid;
    border-width: 1px;
    background-color: lightblue;
    border-color: lightskyblue;
    padding: .1em;
}
.td-content {
    border-style: solid;
    border-width: 1px; 
    border-color: #ccc;
    padding: .1em;
}

.tr-content:nth-child(even) {
    background-color: rgb(238, 235, 235);
}
.tr-content:nth-child(odd) {
    background-color: white;
}

@media only screen and (max-width: 760px) {
    body {
      background-color: rgb(201, 224, 231);
    }
    .table-div {
      flex-wrap: wrap;
    }
    .tr-header {
      display: none;
    }
    #container {
        font-size: 0.9em;
    }
    .td-content {
      border-width: 0px;
      border-left: 1px;
      border-right: 1px;
      margin-bottom: 10px;
      padding: .5em;
    }
    .col-Season {
      display: none;
    }
    .NotHeader {
      display: none;
    }
    .Header { 
      flex: none;
      text-align: center;
      font-size: 2em;
      width: 100%;
      background-color: rgb(201, 224, 231);
    }

  }